.details-card {
  display: flex;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  margin: 20px auto;
  width: 80%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);

  &__image {
    width: 30%;
    aspect-ratio: 4 / 3;
    object-fit: cover;
  }

  &__info {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    text-decoration: underline;

    h2, p {
      margin: 0 0 10px;
      line-height: 1.4;
    }
  }
}
