<form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
  <div class="details-card">
    <div class="details-card__info">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Release Date</mat-label>
        <input
          matInput
          formControlName="type">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea
          matInput
          formControlName="description"></textarea>
      </mat-form-field>
      <button
        type="submit"
        mat-raised-button
        color="primary">Add Item</button>
    </div>
  </div>
</form>
