<form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
  <div class="details-card">
    <img class="details-card__image">
    <div class="details-card__info">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          matInput
          formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Genre</mat-label>
        <input
          matInput
          formControlName="genre">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Release Date</mat-label>
        <input
          matInput
          formControlName="releaseDate">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea
          matInput
          formControlName="description"></textarea>
      </mat-form-field>
    </div>
  </div>
  <button
    type="submit"
    class="add-button"
    mat-raised-button
    color="primary"
    style="width: 100%;">Add Item</button>
</form>
