:host {
  .mat-card-content, .mat-card-header {
    position: relative;
    z-index: 2;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px 0 20px 0;
  max-width: 470px;
  height: 250px;
  &__header {
    display: flex;
    justify-content: center;
    color: #ffffff;
  }
  &__content {
    color: #ffffff;
  }
  &:hover {
    cursor: pointer;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}
